:root {
  --blue: #0098da;
  --yellow: #f58634;
  --royal-blue: #314266;
}

.header-bk-color {
  background-color: #0098da !important;
  color: #fff !important;
}

.header-bk-color a {
  color: #fff !important;
  padding-right: 2.5rem !important;
}

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.logo-holder img {
  max-width: 60%;
}

.logo-holder {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-header-icon .fas {
  color: #000 !important;
  padding-right: 6px !important;
}

.logo-header-icon a {
  color: #000 !important;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 3px;
  margin-right: 20px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.header-icon .fas {
  border-radius: 2px;
  padding: 3px;
  color: #fff !important;
}

.header-bk-color form {
  background-color: transparent !important;
  color: #fff !important;
  position: relative;
}

.header-bk-color form input {
  background-color: transparent !important;
  color: #fff !important;
  max-width: 10rem !important;
  min-height: 7px !important;
  border: 1px solid #fff !important;
  border-radius: 50px !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.header-bk-color form input::placeholder {
  color: #fff !important;
  font-size: 16px;
}

.header-bk-color form input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.header-bk-color form .fas {
  margin-left: -3rem;
  font-size: 14px;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem;
}

.rating span {
  margin: 0.1rem;
}
